[Desktop Entry]
Name=Plasma Nano Toolbox
Name[ca]=Quadre d'eines del Plasma Nano
Name[ca@valencia]=Quadre d'eines del Plasma Nano
Name[da]=Værktøjskasse til Plasma Nano
Name[el]=Εργαλειοθήκη Plasma Nano
Name[en_GB]=Plasma Nano Toolbox
Name[es]=Caja de herramientas Plasma Nano
Name[et]=Plasma Nano tööriistakast
Name[eu]=Plasma Nano tresna-kutxa
Name[fi]=Plasma Nano Toolbox
Name[fr]=Boîte à outils Plasma Nano
Name[hi]=प्लाज़्मा नेनो उपकरण पेटी
Name[hu]=Plasma Nano eszköztár
Name[ia]=Instrumentario de Plasma Nano
Name[id]=Perkakas Plasma Nano
Name[it]=Strumenti di Plasma Nano
Name[ko]=Plasma Nano 도구 상자
Name[lt]=Plasma Nano priemonių komplektas
Name[nl]=Plasma Nano-hulpmiddelen
Name[nn]=Plasma Nano-verktøykasse
Name[pl]=Pasek narzędzi Plazma Nano
Name[pt]=Área de Ferramentas do Plasma Nano
Name[pt_BR]=Área de ferramentas do Plasma Nano
Name[ro]=Trusă de unelte Plasma Nano
Name[ru]=Инструменты Plasma Nano
Name[sk]=Nástrojový panel Plasma Nano
Name[sl]=Orodjarna Plasma Nano
Name[uk]=Набір інструментів Плазми Nano
Name[x-test]=xxPlasma Nano Toolboxxx
Name[zh_CN]=Plasma Nano 工具箱
Name[zh_TW]=Plasma Nano 工具箱
Comment=Manage Wallpaper and Widgets
Comment[ca]=Gestiona els fons de pantalla i els estris
Comment[ca@valencia]=Gestiona els fons de pantalla i els estris
Comment[da]=Håndtér baggrundsbillede og widgets
Comment[el]=Διαχειριστείτε ταπετσαρίες και γραφικά συστατικά
Comment[en_GB]=Manage Wallpaper and Widgets
Comment[es]=Gestión de fondos del escritorio y de elementos gráficos
Comment[et]=Taustapiltide ja vidinate haldamine
Comment[eu]=Kudeatu horma-papera eta trepetak
Comment[fi]=Hallitse taustaa ja sovelmia
Comment[fr]=Gérer les fonds d'écran et les composants graphiques
Comment[hi]=वालपेपर व घटक प्रबंधित करें
Comment[hu]=Háttérképek és widgetek kezelése
Comment[ia]=Gere Tapete de papiro e Widgets
Comment[id]=Kelola Wallpaper dan Widget
Comment[it]=Gestisce immagini di sfondo ed oggetti
Comment[ko]=배경 그림과 위젯 관리
Comment[lt]=Tvarkyti darbalaukio foną ir valdiklius
Comment[nl]=Achtergrondafbeeldingen en widgets beheren
Comment[nn]=Handsam bakgrunnsbilete og skjermelement
Comment[pl]=Zarządzaj tapetami i elementami interfejsu
Comment[pt]=Gerir o Papel de Parede e Elementos
Comment[pt_BR]=Gerenciar papel de parede e widgets
Comment[ro]=Gestionează tapete și controale grafice
Comment[ru]=Управление фоном рабочего стола и виджетами
Comment[sk]=Spravovať plochy a widgety
Comment[sl]=Upravljaj z ozadji in gradniki
Comment[uk]=Керування шпалерами та віджетами
Comment[x-test]=xxManage Wallpaper and Widgetsxx
Comment[zh_CN]=管理壁纸和部件
Comment[zh_TW]=管理桌布及元件


Type=Service
Icon=plasma
X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/Generic

X-KDE-PluginInfo-Author=Marco MArtin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.nano.desktoptoolbox
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-License=LGPLv2
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=0.1

X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/ToolBoxRoot.qml
X-Plasma-RequiredExtensions=LaunchApp,
#X-Plasma-ContainmentCategories=desktop
