[Desktop Entry]
Name=Plasma Nano Toolbox
Comment=Manage Wallpaper and Widgets


Type=Service
Icon=plasma
X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/Generic

X-KDE-PluginInfo-Author=Marco MArtin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.nano.desktoptoolbox
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPLv2
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Version=0.1

X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/ToolBoxRoot.qml
X-Plasma-RequiredExtensions=LaunchApp,
#X-Plasma-ContainmentCategories=desktop
